click==6.7
joblib==1.0.1
jsonpatch==1.16
jsonpointer==1.10
jsonschema==3.2.0
numpy==1.19.5
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.4
tifffile==2020.9.3
tokenizers==0.5.2
toml==0.10.2
torch==1.2.0
tornado==6.1
tqdm==4.59.0
urllib3==1.26.4
wikipedia2vec==1.0.5
transformers==2.5.1
ujson==4.0.2
